@model CurrencyMonitor.DataModels.SubscriptionForExchangeRate

@{
    ViewData["Title"] = "Details";
}

<h1>Abonnement</h1>

<div>
    <h4>Weitere Informationen darüber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCurrencyToSell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCurrencyToSell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCurrencyToBuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCurrencyToBuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetPriceOfSellingCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetPriceOfSellingCurrency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Bearbeiten</a> |
    <a asp-action="Index">Zurück zu allen Abonnements</a>
</div>
