@page
@model CurrencyMonitor.Pages.Currencies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weitere Informationen darüber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecognizedCurrency.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecognizedCurrency.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecognizedCurrency.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecognizedCurrency.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecognizedCurrency.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecognizedCurrency.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecognizedCurrency.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecognizedCurrency.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RecognizedCurrency.ID">Bearbeiten</a> |
    <a asp-page="./Index">Zurück zu allen Währungen</a>
</div>
