@page
@model CurrencyMonitor.Pages.Subscriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Abonnement</h1>

<div>
    <h4>Weitere Details über Ihr Abonnement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionForExchangeRate.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.EMailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionForExchangeRate.EMailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToSell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToSell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToBuy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToBuy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubscriptionForExchangeRate.ID">Bearbeiten</a> |
    <a asp-page="./Index">Zurück nach alle Abonnements</a>
</div>
